.navbar .navbar-nav > li > a {
	font-size: 16px;
}

.navbar-transparent {
	font-family: 'Baumans', cursive;
}

.navbar-brand {
	font-family: 'Arima Madurai', sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
}

.btn {
	font-size: 14px;
}

.title {
	font-family: 'Arima Madurai', sans-serif;
	font-size: 32px;
	font-weight: bold;
}

h3 {
	font-family: 'Arima Madurai', cursive;
	font-size: 1.63em;
	padding: 0px 20px 0px 20px;
}

h2 {
	font-size: 34px;
	font-family: 'Arima Madurai', sans-serif;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.fa-1x {
	transform: scale(1.67);
}

@media (min-width: 768px) {

.navbar-nav {
    float: left;
    margin: 0;
    margin-left: 12px;
}

}