@media (min-width: 1200px) {

.col-lg-offset-3 {
    margin-left: 27%;
    
}

.navbar .navbar-nav > li > a {
	font-size: 16px;
}

.navbar-transparent {
	font-family: 'Baumans', cursive;
}

.navbar-brand {
	font-family: 'Arima Madurai', sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
}

.title {
	font-family: 'Arima Madurai', sans-serif;
	font-size: 32px;
	font-weight: bold;
}

h3 {
	font-family: 'Baumans', cursive;
}

h4 {
	font-family: 'Acme', sans-serif;
}

h5 {
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
	font-family: 'Arima Madurai', sans-serif;
	font-size: 23px;
	font-weight: bold;
}

textarea {
	font-family: 'Roboto', sans-serif;
}

.form-group .form-control {
    margin-bottom: 7px;
    width:100%;
    font-size: 18px;
}

.btn {
	font-size: 14px;
}

.fa-1x {
	transform: scale(1.67);
}

.modal-body, .modal-title {
	font-family: 'Arima Madurai', sans-serif;
}

.modal-body h4, .modal-title{
	font-weight: bold;
}

.modal-body p {
	font-size: 17px;
}
.profile-page .header {
     height: 0px;
}

li.active.btn-tooltip{
	border-radius: 3px;
	-webkit-transition:all .25s;
}
.nav > li:hover {
	background-color:rgba(255, 255, 255, 0.1);
}
.nav > li{
	-webkit-transition:al .25s;
}
li.active.btn-tooltip:hover{
	background-color:rgba(255, 255, 255, 0.1);
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

@media (min-width: 768px) {

.navbar-nav {
    float: left;
    margin: 0;
    margin-left: 12px;
}

}
