body {
    padding-top: 70px;
    padding-bottom: 70px;
}

.content {
    margin-top: 20px;
}

.btn {
    margin-top: 20px;
    margin-bottom: 10px;
}

footer {
    padding: 5em 0;
    bottom: 0;
    left: 0;
    right: 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline-block;
}

footer ul li a {
    display: block;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 500;
}

.copyright {
    padding: 10px;
    text-align: center;
}
@media screen and (max-width: 560px) {
    .logo {
        max-width: 25%;
    }        
}