.content {
    margin-top: 20px;
}

a {
    color: #98aa6f;
}
a:hover, a:active, a:focus {
    color: #72824d;
}
.btn {
    border: 0px;
}
.btn-success {
    background-color: #98aa6f;
}
.btn-success:hover, .btn-success:active, .btn-success:focus {
    background-color: #72824d;
}

.logo {
    max-width: 120px;
    width: 100%;
}

.text-right {
    text-align: right;
}
.code-box {
    height: 180px;
}

footer {
    background-color: #eeeeee;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
}

footer ul {
    list-style: none;
    margin: 0;
}

footer ul li {
    display: inline-block;
}

footer ul li a {
    padding: 10px 10px 10px 0;
    font-weight: 500;
}